<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name=viewport content="width=device-width, initial-scale=1.0" />
  <title>HTTP File Transfer Server</title>
  <link rel="icon" href="data:,"><!-- hint there's no favicon -->
  <style>
  {{{data.simpleResponsiveCSS}}}
  </style>
  <style>
    .td_left { text-align: left; }
    .td_right { text-align: right; }
    td { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
    table { border-collapse: collapse; }
    tr th { border-bottom: 2px groove; }
    tr:hover {background-color:lavender;}
  </style>

  <script type="text/javascript">
    window.fileList = {{{data.stringifiedFileList}}};
    {{{data.indexJS}}}
  </script>
</head>

<body>
  <h1>{{data.title}}</h2>
  <form>
    <div>
      <label for="fileToUpload">File to Upload</label>
      <div>
        <input id="fileToUpload" type="file" name="fileToUpload" onchange="javascript:fileSelected();" />
      </div>
    </div>
    <div>
      <label>Name</label>
      <div><span id="fileName"></span></div>
    </div>
    <div>
      <label>Size</label>
      <div><span id="fileSize"></span></div>
    </div>
    <div>
      <label>Type</label>
      <div><span id="fileType"></span></div>
    </div>
    <div>
      <div>
        <input id="uploadButton" type="button" onclick="javascript:uploadFile();" value="Upload" />
      </div>
    </div>
    <div>
      <label>Progress</label>
      <div><span id="progressNumber"></span></div>
    </div>
  </form>
  <table width="100%">
    <thead>
      <tr>
        <th class="td_left">Name</th>
        <th></th>
        <th class="td_left">MTime</th>
        <th id="thSizeHuman" class="td_right">Size</th>
        <th id="thSize" class="td_right">Size</th>
      </tr>
    </thead>
    <tbody id="tbFiles"></tbody>
  </table>
</body>

</html>